@page
@model Proyecto_v1.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Cerrar Sesión";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Has cerrado sesión exitosamente.</p>
</header>